
<section>
	
        <h3 class="burger"> {{burger_name}} </h3>

        <p class="burger_ingred">{{burger_ingred}}</p>

        <img class="img-fluid burgerProfile" src="/assets/img/BurgerPic.jpeg">


 <button class="delete-burger btn-xs btn-outline-danger" data-id="{{this.id}}">DELETE!</button></li>

<button type="button"class="pulsate-fwd unsavorite btn-xl btn-outline-success" data-id="{{id}}" data-state="{{favorite}}">
          
{{#if favorite}} Unsavorite {{else}} Add to Savorites {{/if}}

        </button>

 </section>