<section class="col-5 offset-1 profile">

        <img class="img-fluid burgerProfile col-8 offset-3" src="/assets/img/devouredPic.jpeg">

        <h3 class="burger"> {{burger_name}} </h3>

        <p class="burger_ingred">{{burger_ingred}}</p>


        {{#if favorite}}

        {{!-- Nothing --}}

        {{else}}


        <button class="delete-burger pulsate-fwd btn-xs btn-outline-danger" data-id="{{this.id}}">DELETE!</button>

        {{/if}}

        <button class="savorite pulsate-fwd btn-xs btn-outline-success" data-id="{{id}}" data-state="{{favorite}}">

                {{#if favorite}} Saved in Savorites {{else}} Add to Savorites {{/if}}

        </button>

</section>