<div class="container">

  <div class="row">

    <div class="col-6">


      <div class="form-group">

        <input type="text" class="form-control" id="burgerName">

        <input type="text" class="form-control" id="burgerIngreds">
      </div>

      <button type="button" class="btn btn-info" id="addBurger">Add Burger</button>

    </div>
  </div>

  <div class="row">



    <main class="burger_options">

      {{#each burgers}}

      <div class="col-12">

        <h3 class="burger"> {{burger_name}} </h3>

        <p class="burger_ingred">{{burgerIngreds}}</p>

        <img src="./assets/img/BurgerPic">

        <button type="button" class="devour" class="btn btn-outline-success" data-id="{{id}}" data-state="{{devoured}} ">
          {{#if devour}} Back on the menu  {{else}} Devour {{/if}}
        </button>



        <button type="button" class="unsavorite" class="btn btn-outline-success" data-id="{{id}}" data-state="{{favorite}}">
          {{#if favorite}} Unsavorite {{else}} Add to Savorites {{/if}}
        </button>
      </div>

      {{/each}}

    </main>


  </div>

  </div>